/*

    게시판 형태에 사용되는 CSS 입니다.
    주로 고객센터, 마이페이지 메뉴에서 사용됩니다.

*/


/*
 * 게시판 board
 */
.board a {
    color: #666;
}
.board > * {
    margin-bottom: 20px;
}
/* board-table */
.board-table {
    width: 100%;
    margin-bottom: 20px;
}
.board-table th,
.board-table td {
    padding: 4px 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.board-table td > * {
    vertical-align: middle;
}
.board-table > thead > tr > th {
    border-bottom-width: 3px;
    border-bottom-color: #333;
}
.board-table > tfoot > tr > th,
.board-table > tfoot > tr > td {
    background-color: #f3f3f3;
}
/* board-write
 * 글쓰기 상태에서 여백조절
 */

/* board-pagination */
.board-pagination {
    list-style: none;
    padding: 0;
    text-align: center;
}
.board-pagination li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0 4px;
}
/* board-search */
.board-search {
}
.board-search > * {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.board-search select {
    width: 20%;
}
.board-search input {
    width: 50%;
}
.tabs > .tab.active a {
    background-color: #fff;
}
/* board-category */
.board-category label {
    margin-right: 15px;
}
/* board-content */
.board-content {
    padding: 20px;
}
/* board-theme 글쓰기, 글보기에서 쓰이는 테마색깔 테두리 영역 */
.board-theme {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
}