.common-width {
    width: 1050px;
    margin: 0 auto;
}

html, body {
    background-color: #EAECEC;
}

body {
    font-family: Arial, "nanumbarungothic", "Nanum Barun Gothic", sans-serif;
    font-size: 14px;
    color: #666;
}

a {
    color: #999;
}
a:hover {
    color: #666;
    text-decoration: none;
}

h3 {
    font-size: 1.3em;
}

.site-top-wrap,
.site-slider,
.site-navigation {
    margin-bottom: 20px;
}

.site-top-wrap {
    background-color: #FFF;
    border-bottom: 1px solid #7F8080;
    padding-top: 40px;
    padding-bottom: 20px;
}
.site-top-wrap .btn {
    padding: 16px 10px;
    background-color: #e3e3e3;
    border-color: #e3e3e3;
    color: #999;
    font-size: .8em;
}
.site-top-wrap .btn:hover,
.site-top-wrap .btn:focus,
.site-top-wrap .btn.focus,
.site-top-wrap .btn:active,
.site-top-wrap .btn.active {
    background-color: #efefef;
    border-color: #efefef;
}

.site-footer {
    background-color: #FFF;
    border-top: 1px solid #7F8080;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 0.9em;
}
.site-footer dt,
.site-footer dd {
    float: left;
}
.site-footer dt {
    margin-right: 5px;
}
.site-footer dd {
    margin-right: 15px;
}
.site-footer ul {
    list-style: none;
}
.site-footer ul li a {
    font-weight: bold;
}

/*
 *  슬라이더
 */
.site-slider {
    display: none;
}
.main .site-slider {
    display: block;
}
.site-slider .item {
    padding: 50px;
    height: 456px;
    font-size: 1.4em;
    line-height: 1.6em;
}
.site-slider .item > * {
    margin-bottom: 20px;
}


/*
    네비게이션과 본문의 사각형 하위 링크
*/
.site-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.site-navigation ul li,
.btn-square {
    float: left;
    display: block;
    width: 150px;
    height: 150px;
}
.site-navigation ul li a,
.btn-square a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #595757;
    color: #FFF;
    text-align: center;
}
.site-navigation ul li a img,
.btn-square a img {
    margin: -15px -15px -30px;
}
.site-navigation ul li a {
    border-left: 1px solid #FFF;
}
.btn-square {
    margin-right: 30px;
    margin-bottom: 30px;
    color: white;
    border-radius: 0;
    line-height: normal!important;
}
.btn-square.disabled a {
    text-align: left;
    cursor: default;
}
.btn-square a h1 {
    line-height: 1;
}
.site-navigation ul li:first-child a {
    border-left: none;
}
.site-navigation ul li:hover a,
.site-navigation ul li.active a {
    background-color: #627373;
}
.btn-wrap {
    overflow: hidden;
    padding: 0!important;
    margin-bottom: 20px;
}

/*
    본문영역
*/

.site-content {
    border: 1px solid #666;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-breadcrumb {
    background-color: #666;
    color: #FFF;
    font-size: 12px;
    padding: 8px;
}
.content-header {
    color: #fff;
    text-align: center;
    padding: 70px 40px;
    position: relative;
}
.content-header h1 {
    margin-top: 25px;
    margin-bottom: 45px;
}
.content-header h3 {
    font-weight: bold;
}
.content-header h3,
.content-header p {
    line-height: 1.8;
    margin-bottom: 20px;
}
.content-header > img {
    width: 100%;
}
/*
 * 렌즈소개페이지에 들어가는 lens-header
 */
.lens-header {
    position: relative;
    margin: 40px auto;
    width: 85%;
    padding: 30px 50px 60px;
}
.lens-header > hr {
    width: 60px;
    margin: 50px auto;
    border-width: 4px 0 0;
}
.lens-header-logo {
    margin-top: 30px;
}
.lens-header > h3 {
    font-weight: normal;
    margin-bottom: 60px;
}
.lens-header-icons img {
    margin-bottom: 10px;
}
.lens-header-icons p {
    margin-bottom: 0;
}
.lens-header-lens {
    display: block;
    position: absolute;
    right: -50px;
    bottom: -45px;
}
/*
 * Content-body
 */
.content-body {
    background-color: #FFF;
    padding: 60px 40px 0;
}
.content-section {
    margin-bottom: 80px;
    clear: both;
}
.content-section h1,
.content-section h2,
.content-section h3 {
    margin-top: 0;
    line-height: 1.8;
}
.content-section > * {
    margin-left: 220px;
    margin-bottom: 20px;
    line-height: 1.8;
}
.content-section > .row {
    margin-left: 192px;
    margin-bottom: 0;
}
.content-section > .row .col {
    margin-bottom: 15px;
}
.content-section h2 {
    float: left;
    width: 180px;
    margin: 0;
    line-height: 1.2;
}
.content-section ul,
.content-section ol {
    margin-top: 25px;
    padding: 0 0 0 20px;
}
.content-section img {
    margin-bottom: 10px;
}
/*
    서브 본문
*/
.content-header--sub {
    padding: 40px;
    text-align: left;
    position: relative;
}
.content-header--sub:before {
    content: "";
    position: absolute;
    background-size: cover;
    width: 120px;
    height: 120px;
    width: 140px\9;
    height: 140px\9;
    bottom: -30px;
    left: 60px;
}
.content-header--sub h1,
.content-header--sub h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 220px;
}
/*
    배경색이 있는 content-section
*/
.content-section--bg {
    color: white;
    margin-top: -60px;
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px;
}
.content-section--bg h2 {
    color: white!important;
}
/*
    본문 하위 영역
*/
.content-footer,
.content-footer .btn-wrap {
    text-align: center;
    overflow: auto;
}
.content-footer h1 {
    position: relative;
    background-color: #FFF;
    color: #879898;
    margin: 0;
    padding: 40px;
    font-size: 1.6em;
}
.content-footer h1:before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    margin-left: 45%;
    border-bottom: 14px solid #879898;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
}
.content-footer .btn-wrap {
    background-color: #879898;
    margin: 0;
    padding: 40px 40px 20px!important;
}
.content-footer .btn-wrap .btn-square {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: none;
    margin-left: 12px;
    margin-right: 12px;
}

/* 사이트맵 */
ul.sitemap-box {
    display: block;
    padding: 10px 15px;
    margin-top: 0;
    border: 1px solid #666;
    list-style: none;
}
ul.sitemap-box > li > ul {
    margin-top: 0;
    list-style: none;
}
ul.sitemap-box h3 a {
    color: inherit;
    font-size: inherit;
}
ul.sitemap-box a {
    color: #666;
    font-size: .9em;
}

/*
 * icon-wrap
 * 회사소개 인덱스 > 지도에 있는 아이콘
 */
.icon-wrap {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 30px;
}
.icon-wrap > * {
    vertical-align: bottom;
}
.icon-wrap img {
    margin-bottom: 0;
    width: 100%;
    height: auto;
}


/*
 * 팝업
 */
.popup {
    background-color: #fff;
}
.popup * {
    line-height: normal;
}
.popup .site-content {
    margin: 0;
    border-width: 0;
}
.popup .content-body {
    padding: 30px;
}
.popup .content-section {
    margin-bottom:  0;
}
.popup .table-form {
    width: 100%;
}
.popup .table-form > tbody > tr > th {
    width: 70px;
}
.popup.cancel .content-body {
    padding: 4px 8px;
    font-size: .8em;
}
.popup.cancel .board-table td,
.popup.cancel .board-table th {
    padding: 8px 4px;
}


/*
 * 인덱스
 */
.main .site-content {
    border-width: 0;
}
.main .content-body {
    background-color: transparent;
    padding: 0;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
}
.main-box-wrap.first .main-box {
    height: 270px;
}
.main-box-wrap.second .main-box {
    height: 200px;
}
.main-box {
    position: relative;
    overflow: hidden;
    float: left;
    border: 1px solid #7F8080;
    background-color: white;
    padding: 50px 15px 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
}
.main-box.just-grid {
    border-width: 0;
    background-color: transparent;
    padding: 0;
}
.main-box .main-box__header {
    display: block;
    margin: -51px -16px 15px -16px;
    overflow: hidden;
}
.main-box-wrap.second .main-box .main-box__header {
    margin-top: -45px;
    margin-bottom: 0;
}
.main-box .main-box__header img {
    display: block;
    width: 100%;
}
.main-box h1 {
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}
.main-box .table {
    margin-bottom: 0;
}
.main-box .table th,
.main-box .table td {
    padding: 4px 0;
}
.main-box .btn-wrap {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
}
.main-box .btn-block {
    text-align: left;
    padding: 11px 12px;
}
.main-box .icon-wrap {
    width: 40px;
    margin-right: 5px;
    vertical-align: middle;
}
.main-box__content {
    font-size: .85em;
}
.main-box__square {
    display: block;
    overflow: hidden;
}
.main-box__square + .main-box__square {
    margin-top: 20px;
}
.main-box__square img {
    width: 100%;
}