@media screen and (max-width:736px) {

    .common-width {
        width: 100%;
    }
    .only-pc {
        display: none!important;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3,
    .content-footer h1 {
        font-size: 16px;
    }
    /* 헤더 */
    .site-top-wrap {
        border-bottom-width: 0;
        margin-bottom: 0;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;
    }
    .site-top-wrap .col {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .logo-img {
        width: 80%;
    }
    /* 푸터 */
    .site-footer {
        padding: 0 20px 20px;
        text-align: center;
        overflow: hidden;
    }
    .site-footer .col {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .site-footer dt {
        clear: both;
    }
    /* 슬라이더 */
    .site-slider {
        margin-bottom: 0;
    }
    /* 네비게이션 */
    .site-navigation {
        margin: 0;
    }
    .site-navigation ul {
        text-align: center;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .site-navigation ul li {
        display: inline-block;
        float: none;
        width: 20%;
        height: auto;
        margin: 0 5px;
        font-size: .8em;
    }
    .site-navigation ul li a {
        padding: 0 0 15px 0;
        border-left-width: 0;
        line-height: 1;
    }
    .site-navigation ul li a img {
        width: 100%;
        margin: 0 0 -20px 0;
    }
    /* 본문 */
    .site-content {
        margin-top: -1px;
        margin-bottom: 0;
        border-width: 0;
        overflow: hidden;
    }
    .content-header--sub {
        overflow: visible;
    }
    .content-header--sub:before {
        display: none;
    }
    .content-header--sub h1, .content-header--sub h3 {
        margin-left: 0;
    }
    .content-section > *,
    .content-section > .row {
        margin-left: 0;
        margin-bottom: 15px;
        padding: 0;
        overflow: auto;
        line-height: 1.8;
    }
    .content-section .btn {
        padding: 6px 12px;
    }
    .content-section h2 {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        line-height: 1.2;
    }
    .content-section .row {
        margin-bottom: 0;
        margin-right: 0;
    }
    .content-section .row .col {
        width: 100%;
        padding: 0;
    }
    .content-section .col > img,
    .content-section .image-wrap > img,
    .content-section .img-wrap > img {
        width: 100%;
    }
    .btn-square {
        margin-bottom: 20px;
        margin-right: 20px;
        overflow: hidden;
    }
    .table-custom th,
    .table-custom td {
        font-size: .8em;
        padding: 4px 8px;
    }

    /* list-component */
    .list-component li {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .list-component-img,
    .list-component-body {
        float: none;
        width: 100%;
    }
    .list-component-btn {
        float: none;
        margin-top: 10px;
        padding: 6px 12px;
        height: auto;
        border-radius: 0;
    }
    .list-component-title {
        margin-bottom: 10px;
    }
    /* list-history */
    .list-history .row {
        margin-left: 0;
        margin-right: 0;
    }
    .list-history .col {
        margin-bottom: 10px;
    }

    /* 테마별 수정 */
    .company-intro.index img[style] {
        width: 100%!important;
    }
    .company-intro.greetings .greetings-txt {
        width: 100%;
    }
    .company-intro.greetings .greetings-img {
        right: 0;
    }
    .company-intro.manufacturer .text-right {
        text-align: left;
    }
    .lens-intro .lens-header {
        width: auto;
        margin: -50px -20px;
        padding: 30px;
    }
    .lens-intro .lens-header-logo {
        width: 60%;
    }
    .lens-intro .lens-header-lens {
        width: 50%;
    }
    .lens-header + p {
        margin-top: 110px;
        margin-bottom: -40px;
    }

    /* main */
    .main .site-navigation ul {
        padding-top: 30px;
    }
    .main .main-box-wrap {
        margin: 0;
        padding: 0;
    }
    .main-box {
        width: 100%!important;
        height: auto!important;
        margin: 0;
        border-width: 0;
    }
    .main-box.just-grid {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: inset 0 2px 8px rgba(0,0,0,.2);
    }
    .main-box__square {
        display: inline-block;
        width: 25%;
    }
    .main-box__square + .main-box__square {
        margin: 0 0 0 20px;
    }

}

@media screen and (max-width:600px) {
    .lens-intro .lens-header-logo {
        width: 100%;
    }
    .lens-header-icons .col {
        width: 100%;
        margin-bottom: 30px;
        font-size: .8em;
    }
}

@media screen and (max-width:320px) {
    .site-navigation ul li {
        font-size: .7em;
    }
    .site-info,
    .site-copyright {
        font-size: .9em;
    }
    .content-footer h1 {
        font-size: .9em;
        padding-left: 20px;
        padding-right: 20px;
    }
    .content-body {
        padding: 60px 20px 0;
    }
}