/*
    간단하게 쓰이는 모듈들
*/
.color-default {
    color: #666!important;
}
.color-white {
    color: #FFF!important;
}
.inactive,
:disabled {
    opacity: .4;
}
.clearboth {
    clear: both;
}

/*
    이미지와 내용, 그리고 더 보기 버튼을 포함하는 리스트 형태의 목록
    .list-component
*/
.list-component {
    overflow: hidden;
    margin-top: 0!important;
    padding: 0!important;
}
.list-component li {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.list-component li:last-child {
    margin-bottom: 0;
    border: none;
}
.list-component-img {
    float: left;
    width: 25%;
}
.list-component-body {
    float: left;
    width: 60%;
}
.list-component-title {
    margin-bottom: 30px;
    font-weight: bold;
}
.list-component-btn {
    float: right;
    display: block;
    margin-top: 50px;
    padding-top: 30px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #879898;
    color: white;
    vertical-align: middle;
    text-align: center;
    font-size: 0.8em;
}
.list-component-btn:hover {
    background-color: #627373;
    color: white;
}
.list-component hr {
    clear: both;
    margin: 0;
    border-color: #ddd;
}

.table-none-width {
    width: auto;
}

/*
    연혁형태의 리스트
    .list-history
*/
.list-history {
    margin-top: 0!important;
    padding: 0!important;
}
.list-history li {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.list-history li:first-child {
    margin-top: 0;
}
.list-history li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}
.list-history li .list-history__year {
    float: left;
}
.list-history li .list-history__desc {
    overflow: hidden;
}
.list-history li .list-history__year {
    width: 100px;
    color: #E75166;
    font-weight: bolder;
}
.list-history li .list-history__dot {
    position: absolute;
    left: 60px;
    top: 27px;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    background-color: #E75166;
}
.list-history li .list-history__line {
    position: absolute;
    left: 64px;
    top: 0;
    bottom: 0;
    margin-top: 10px;
    border-left: 1px solid #E75166;
}
.list-history li:first-child .list-history__line {
    top: 25px;
}
.list-history li:last-child .list-history__line {
    bottom: 40px;
}
/*
 *  이미지 형태의 목록
 */
.list-images {
    list-style: none;
    padding: 0!important;
}
.list-images li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 15px;
    margin-bottom: 15px;
}

/*
 * table-custom 렌즈소개 페이지에서 사용되는 커스텀 테이블
 */
.table-custom th,
.table-custom td {
    padding: 4px 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.table-custom > thead > tr > th {
    border-bottom: 3px solid #333;
}
.table-custom td.td-theme {
    color: white;
    border-bottom-color: white;
}
/*
 * table-custom 렌즈소개 페이지에서 사용되는 커스텀 테이블
 */
.table-custom th,
.table-custom td {
    padding: 4px 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.table-custom > thead > tr > th {
    border-bottom-width: 3px;
    border-bottom-color: #333;
}
.table-custom td.td-theme {
    color: white;
    border-bottom-color: white;
}

/*
 * table-form
 */
.table-form {
    margin-bottom: 20px;
}
.table-form th,
.table-form td {
    padding: 5px 5px 5px 0;
    border-bottom: 1px solid #eee;
}
.table-form th {
    width: 120px;
}
.table-form td > * {
    vertical-align: middle;
}
.table-form .btn {
    margin-right: 2px;
}
.form-xl, .form-l, .form-m, .form-s {
    *display: inline;
    display: inline-block;
    zoom: 1;
    margin-right: 2px;
}
.form-xl {
    width: 386px;
}
.form-l {
    width: 300px;
}
.form-m {
    width: 200px;
}
.form-s {
    width: 80px;
}

/*
 * 탭버튼 tabs
 */
.tabs {
    position: absolute;
    bottom: 0;
    left: 260px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.tabs > .tab {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 140px;
    vertical-align: top;
}
.tabs > .tab a {
    display: block;
    padding: 4px;
    text-align: center;
    color: #fff;
}

/*
 * 쇼핑몰 > 구매내역/배송조회
 * datepicker
 */
input.datepicker {
    width: 100px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    border-radius: 0;
}

/*
 * Scroll box
 */
.scroll-box {
    padding: 10px 15px;
    overflow-y: scroll;
    height: 300px;
    border: 1px solid #666;
}