/*

    쇼핑몰에서 사용되는 CSS입니다.

*/

/* 쇼핑몰 제품 목록 */
.shop-list {
    margin-top: 0!important;
    padding: 0!important;
    overflow: hidden;
}
.shop-list li {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
    padding-right: 40px;
    width: 33%;
    float: left;
}
.shop-list-img {
    overflow: hidden;
    height: 200px;
    margin-bottom: 15px;
    background: url(../img/others/shop_detail_background.png) top center;
}
.shop-list-img img {
    width: 100%;
}

/* 쇼핑몰 디테일 */
.shop .btn-wrap > * {
    vertical-align: middle;
}
.shop .media {
    margin-bottom: 0;
}
.shop .media-left {
    width: 340px;
    height: 340px;
    overflow: hidden;
}

.shop-detail-info {
    width: 100%;
}
.shop-detail-info th {
    padding-right: 15px;
}
.shop-detail-quantity {
    width: 100px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.shop-detail-liner {
    margin: 40px 0;
    border-color: #ddd;
}

/* 쇼핑몰 디테일 덧글 */
.shop-comment {
    padding: 20px;
    background-color: #eee;
}
.shop-comment-write {
    margin-bottom: 30px;
}
.shop-comment-write textarea {
    margin-bottom: 5px;
    height: 100px;
}
.shop-comment-list {
    padding: 10px 20px;
    margin-top: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
}

/* 디테일 썸네일 */
ul.shop-detail-thumb {
    list-style: none;
    padding: 0;
}
.shop-detail-thumb li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.shop-detail-thumb li a {
    display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
}
.shop-detail-thumb li a img {
    width: 100%;
}
.shop-detail-thumb li.inactive a {
    cursor: not-allowed;
}
