/*
 * 회사소개
 */
.site-navigation ul li.company-intro:hover a,
.site-navigation ul li.company-intro.active a,
.company-intro .btn-square a {
    background-color: #4AC54D;
}
.company-intro .btn-square a:hover {
    background-color: #2DAC12;
}
.company-intro .site-content {
    border-color: #2DAC12;
}
.company-intro .content-breadcrumb {
    background-color: #2DAC12;
}
.company-intro .content-header {
    background-color: #4AC54D;
}
.company-intro.index .content-header {
    background-image: url('../img/brand/brand_1st_top.png');
    background-size: cover;
}
.company-intro .content-body h1,
.company-intro .content-body h2,
.company-intro .content-body h3,
.company-intro .color-theme {
    color: #4AC54D;
}
.company-intro .list-history li .list-history__dot {
    background-color: #4AC54D;
}
.company-intro .list-history li .list-history__line {
    border-color: #4AC54D;
}
.company-intro .list-history li .list-history__year {
    color: #4AC54D;
}
/* 인사말 intro_greetings */
.company-intro.greetings .content-header--sub:before {
    background-image: url(../img/brand/brand_grettings_icon.png);
}
.company-intro.greetings .greetings-txt {
    position: relative;
    width: 80%;
    padding-bottom: 170px;
}
.company-intro.greetings .greetings-img {
    position: absolute;
    bottom: 0;
    right: -120px;
}
/* 연혁 intro_history */
.company-intro.history .content-header--sub:before {
    background-image: url(../img/brand/brand_history_icon.png);
    bottom: -40px;
}
/* 렌즈 제조사 소개 intro_manufacturer */
.company-intro.manufacturer .content-header--sub:before {
    background-image: url(../img/brand/brand_lenscompany_icon.png);
    bottom: -45px;
}
/* contact us intro_contact */
.company-intro.contact .content-header--sub:before {
    background-image: url(../img/brand/brand_contact_icon.png);
    bottom: -55px;
}

/*
 * 렌즈소개
 */
.site-navigation ul li.lens-intro:hover a,
.site-navigation ul li.lens-intro.active a,
.lens-intro .btn-square a {
    background-color: #226189;
}
.lens-intro .btn-square a:hover {
    background-color: #154B6A;
}
.lens-intro .site-content {
    border-color: #154B6A;
}
.lens-intro .content-breadcrumb {
    background-color: #154B6A;
}
.lens-intro .content-header,
.lens-intro .td-theme {
    background-color: #226189;
}
.lens-intro .content-body h1,
.lens-intro .content-body h2,
.lens-intro .content-body h3,
.lens-intro .color-theme {
    color: #226189;
}
/*
 * RGP 렌즈
 */
.lens-intro.rgp .content-header--sub:before {
    background-image: url(../img/lens/lens_rgp_icon.png);
}

/*
 * 렌즈 더알아보기
 */
.lens-intro.about .btn-square.disabled a,
.lens-intro.about .btn-square.disabled a:hover {
    background-color: #3E8DB9;
}
.lens-intro.about .btn-square.disabled a h1 {
    color: #154B71;
}
.lens-intro.about .content-footer .btn-square a {
    text-align: center;
}

/*
 * 렌즈관리용액
 */
.site-navigation ul li.liquid:hover a,
.site-navigation ul li.liquid.active a,
.liquid .btn-square a {
    background-color: #6A6192;
}
.liquid .btn-square a:hover {
    background-color: #473E68;
}
.liquid .site-content {
    border-color: #473E68;
}
.liquid .content-breadcrumb {
    background-color: #473E68;
}
.liquid .content-header {
    background-color: #6A6192;
}
.liquid .content-body h1,
.liquid .content-body h2,
.liquid .content-body h3 {
    color: #6A6192;
}
.cleaner .content-footer .btn-square a,
.cleaner .content-footer .btn-square a:hover,
.soaking .content-footer .btn-square a,
.soaking .content-footer .btn-square a:hover,
.multi .content-footer .btn-square a,
.multi .content-footer .btn-square a:hover,
.protein .content-footer .btn-square a,
.protein .content-footer .btn-square a:hover {
    background-color: transparent;
}

/*
 * 궁금한 우리눈
 */
.site-navigation ul li.about-eyes:hover a,
.site-navigation ul li.about-eyes.active a,
.about-eyes .btn-square a,
.about-eyes .btn-square.disabled a:hover {
    background-color: #43B4A9;
}
.about-eyes .btn-square a:hover {
    background-color: #1E9A96;
}
.about-eyes .site-content {
    border-color: #1E9A96;
}
.about-eyes .content-breadcrumb {
    background-color: #1E9A96;
}
.about-eyes .content-header {
    background-color: #43B4A9;
}
.about-eyes .content-body h1,
.about-eyes .content-body h2,
.about-eyes .content-body h3,
.about-eyes .board-table a:hover,
.about-eyes .color-theme {
    color: #43B4A9;
}
.about-eyes .btn-square.disabled a h1 {
    color: #1D7183;
}
/* 눈의 기능 eye_function */
.about-eyes.function .content-header--sub:before {
    background-image: url(../img/eye/eye_function_icon.png);
}
/* 시력에 대해서 eye_sight */
.about-eyes.sight .content-header--sub:before {
    background-image: url(../img/eye/eye_eyepower_icon.png);
}
/* 굴절이상 eye_curve */
.about-eyes.curve .content-header--sub:before {
    background-image: url(../img/eye/eye_reflect_icon.png);
    bottom: -40px;
}
/* RGP렌즈보관법 lens_keeping */
.about-eyes.keeping .content-header--sub:before {
    background-image: url(../img/eye/eye_preserve_icon.png);
    bottom: -40px;
}
/* 렌즈착용시 안전한 화장법 lens_makeup */
.about-eyes.makeup .content-header--sub:before {
    background-image: url(../img/eye/eye_makeup_icon.png);
    bottom: -40px;
}
/* 렌즈착용시 주의해야할 안질환 lens_warning */
.about-eyes.warning .content-header--sub:before {
    background-image: url(../img/eye/eye_medical_icon.png);
    bottom: -40px;
}/* 렌즈착용에 대한 궁금증과 오해 lens_qna */
.about-eyes.qna .content-header--sub:before {
    background-image: url(../img/eye/eye_qna_icon.png);
}

/*
 * RGP - Supervision II
 */
.supervision .content-header,
.supervision .td-theme {
    background-color: #2B9DB9;
}
.supervision .lens-header {
    background-color: #1C7196;
}
.supervision .content-section--bg {
    background-color: #44CFE0;
}
.supervision .content-body h1,
.supervision .content-body h2,
.supervision .content-body h3,
.supervision .color-theme {
    color: #2B9DB9;
}
.supervision .content-footer .btn-square a,
.supervision .content-footer .btn-square a:hover {
    background-color: transparent;
}
/*
 * RGP - Boston Envision
 */
.envision .content-header {
    background-color: #47678F;
}
.envision .content-section--bg {
    background-color: #5F76A2;
}
.envision .content-body h1,
.envision .content-body h2,
.envision .content-body h3,
.envision .color-theme {
    color: #47678F;
}
.envision .content-breadcrumb,
.envision .lens-header {
    background-color: #374F7C;
}
.envision .content-footer .btn-square a,
.envision .content-footer .btn-square a:hover {
    background-color: transparent;
}
/*
 * RGP - Thinsite
 */
.thinsite .content-header,
.thinsite .td-theme {
    background-color: #FF8749;
}
.thinsite .content-section--bg {
    background-color: #FF9E69;
}
.thinsite .content-body h1,
.thinsite .content-body h2,
.thinsite .content-body h3,
.thinsite .color-theme {
    color: #FF8749;
}
.thinsite .content-breadcrumb,
.thinsite .lens-header {
    background-color: #EE6203;
}
.thinsite .site-content {
    border-color: #EE6203;
}
.thinsite .content-footer .btn-square a,
.thinsite .content-footer .btn-square a:hover {
    background-color: transparent;
}
/*
 * RGP - Achievement
 */
.achievement .content-header,
.achievement .td-theme {
    background-color: #58AD5C;
}
.achievement .content-section--bg {
    background-color: #76C05F;
}
.achievement .content-body h1,
.achievement .content-body h2,
.achievement .content-body h3,
.achievement .color-theme {
    color: #58AD5C;
}
.achievement .content-breadcrumb,
.achievement .lens-header {
    background-color: #429A47;
}
.achievement .site-content {
    border-color: #429A47;
}
.achievement .content-footer .btn-square a,
.achievement .content-footer .btn-square a:hover {
    background-color: transparent;
}
/*
 * RGP - Supervision T
 */
.supervisiont .content-header,
.supervisiont .td-theme {
    background-color: #EC6266;
}
.supervisiont .content-section--bg {
    background-color: #F37A7D;
}
.supervisiont .content-body h1,
.supervisiont .content-body h2,
.supervisiont .content-body h3,
.supervisiont .color-theme {
    color: #EC6266;
}
.supervisiont .content-breadcrumb,
.supervisiont .lens-header {
    background-color: #D54146;
}
.supervisiont .site-content {
    border-color: #D54146;
}
.supervisiont .content-footer .btn-square a,
.supervisiont .content-footer .btn-square a:hover {
    background-color: transparent;
}
/*
 * RGP - So Clear
 */
.soclear .content-header {
    background-color: #75BFB9;
}
.soclear .content-section--bg {
    background-color: #A0D0CE;
}
.soclear .content-body h1,
.soclear .content-body h2,
.soclear .content-body h3,
.soclear .color-theme {
    color: #75BFB9;
}
.soclear .content-breadcrumb,
.soclear .lens-header {
    background-color: #51ADA6;
}
.soclear .site-content {
    border-color: #51ADA6;
}
.soclear .content-footer .btn-square a,
.soclear .content-footer .btn-square a:hover {
    background-color: transparent;
}
/*
 * 시력교정렌즈 Contex OK Lens
 */
.contex .content-header,
.contex .td-theme,
.contex .btn-square a {
    background-color: #E75166;
}
.contex .content-section--bg {
    background-color: #F86E85;
}
.contex .content-body h1,
.contex .content-body h2,
.contex .content-body h3,
.contex .color-theme {
    color: #E75166;
}
.contex .content-breadcrumb,
.contex .lens-header,
.contex .btn-square a:hover {
    background-color: #B6224F;
}
.contex .site-content {
    border-color: #A41D41;
}
.contex .content-footer .btn-square a {
    background-color: #226189;
}
.contex .content-footer .btn-square a:hover {
    background-color: #154B6A;
}
/*
 * 맞춤형 소프트 렌즈 Kerasoft
 */
.kerasoft .content-header {
    background-color: #FFCE6B;
}
.kerasoft .content-section--bg {
    background-color: #FFE280;
    color: #6B605C;
}
.kerasoft .content-section--bg h2 {
    color: #6B605C!important;
}
.kerasoft .content-body h1,
.kerasoft .content-body h2,
.kerasoft .content-body h3,
.kerasoft .color-theme {
    color: #F7B044;
}
.kerasoft .content-breadcrumb,
.kerasoft .lens-header {
    background-color: #F7B044;
}
.kerasoft .site-content {
    border-color: #F7B044;
}
/* 렌즈 사용 방법 tip_usage */
.lens-intro.usage .content-header--sub:before {
    background-image: url(../img/lens/lens_howto_icon.png);
    bottom: -50px;
}
/* 렌즈 관리 방법 tip_management */
.lens-intro.management .content-header--sub:before {
    background-image: url(../img/lens/lens_care_icon.png);
    bottom: -38px;
}
/* 순목운동 tip_exercise */
.lens-intro.exercise .content-header--sub:before {
    background-image: url(../img/lens/lens_blinking_icon.png);
}

/*
 * 렌즈관리용액 - 보존액 soaking-solution.php
 */
.soaking .content-header {
    background-color: #3987B7;
}
.soaking .content-body h1,
.soaking .content-body h2,
.soaking .content-body h3,
.soaking .color-theme {
    color: #3987B7;
}
.soaking .content-breadcrumb {
    background-color: #1365A9;
}
.soaking .site-content {
    border-color: #1365A9;
}
.soaking .btn-square a {
    background-color: #3987B7;
}
.soaking .btn-square a:hover {
    background-color: #1365A9;
}
/*
 * 렌즈관리용액 - 다목적용액 multi-function.php
 */
.multi .content-header {
    background-color: #646BB6;
}
.multi .content-body h1,
.multi .content-body h2,
.multi .content-body h3 {
    color: #646BB6;
}
.multi .content-breadcrumb {
    background-color: #46519F;
}
.multi .site-content {
    border-color: #46519F;
}
.multi .btn-square a {
    background-color: #646BB6;
}
.multi .btn-square a:hover {
    background-color: #46519F;
}
/*
 * 렌즈관리용액 - 단백질 제거제 protein-removal.php
 */
.protein .content-header {
    background-color: #9267B4;
}
.protein .content-body h1,
.protein .content-body h2,
.protein .content-body h3 {
    color: #9267B4;
}
.protein .content-breadcrumb {
    background-color: #6E3A89;
}
.protein .site-content {
    border-color: #6E3A89;
}
.protein .btn-square a {
    background-color: #9267B4;
}
.protein .btn-square a:hover {
    background-color: #6E3A89;
}

/*
 * 고객센터
 */
.site-navigation ul li.cscenter:hover a,
.site-navigation ul li.cscenter.active a,
.cscenter .btn-square a,
.cscenter .content-header {
    background-color: #F89A2B;
}
.cscenter .site-content,
.cscenter .board-table tbody td,
.cscenter .board-table tbody th,
.cscenter .board-theme {
    border-color: #E47C0A;
}
.cscenter .content-breadcrumb,
.cscenter .btn-square a:hover,
.cscenter .tabs .tab a {
    background-color: #E47C0A;
}
.cscenter .content-body h1,
.cscenter .content-body h2,
.cscenter .content-body h3,
.cscenter .color-theme,
.cscenter .board a:hover,
.cscenter .board .active a,
.cscenter .tabs .tab.active a {
    color: #F89A2B;
}
.cscenter .content-header--sub:before {
    background-image: url(../img/others/customer_icon.png);
}

/*
 * 마이페이지
 */
.site-navigation ul li.mypage:hover a,
.site-navigation ul li.mypage.active a,
.mypage .btn-square a,
.mypage .content-header {
    background-color: #D05946;
}
.mypage .site-content,
.mypage .board-table tbody td,
.mypage .board-table tbody th,
.mypage .board-theme {
    border-color: #BE2B1B;
}
.mypage .content-breadcrumb,
.mypage .btn-square a:hover,
.mypage .tabs .tab a {
    background-color: #BE2B1B;
}
.mypage .content-body h1,
.mypage .content-body h2,
.mypage .content-body h3,
.mypage .color-theme,
.mypage .board a:hover,
.mypage .board a.active,
.mypage .tabs .tab.active a {
    color: #D05946;
}

/*
 * 쇼핑몰
 */
.site-navigation ul li.shop:hover a,
.site-navigation ul li.shop.active a,
.shop .btn-square a,
.shop .btn-square.disabled a:hover,
.shop .content-header {
    background-color: #376FBE;
}
.shop .content-section--bg {
    background-image: url(../img/others/shop_detail_background.png);
}
.shop .site-content,
.shop .board-table tbody td,
.shop .board-table tbody th,
.shop .board-theme,
.shop .shop-comment-list,
.shop .shop-detail-thumb li a {
    border-color: #374B9F;
}
.shop .content-breadcrumb,
.shop .btn-square a:hover,
.shop .tabs .tab a {
    background-color: #374B9F;
}
.shop .content-body h1,
.shop .content-body h2,
.shop .content-body h3,
.shop .color-theme,
.shop .board-pagination .active a,
.shop .tabs .tab.active a {
    color: #376FBE;
}
.shop .btn-square.disabled h1 {
    color: #374B9F;
}
.shop .content-header--sub:before {
    background-image: url(../img/others/shop_icon.png);
}

/*
 * Other
 */
.other .btn-square a,
.other .btn-square.disabled a:hover,
.other .content-header {
    background-color: #4AC54D;
}
.other .site-content,
.other .board-table tbody td,
.other .board-table tbody th,
.other .board-theme {
    border-color: #2DAC12;
}
.other .content-breadcrumb,
.other .btn-square a:hover,
.other .tabs .tab a {
    background-color: #2DAC12;
}
.other .content-body h1,
.other .content-body h2,
.other .content-body h3,
.other .color-theme,
.other .board a:hover,
.other .board a.active,
.other .tabs .tab.active a,
.sitemap-box a:hover {
    color: #4AC54D;
}
.other .btn-square.disabled h1 {
    color: #2DAC12;
}
.other .board-table img {
    width: 80px;
    height: 80px;
}

/*
 * 수주장 테이블
 */
.other.order .board {
    font-size: 12px;
}
.other.order .board-table th,
.other.order .board-table td {
    padding: 4px;
    white-space: nowrap;
}
.other.order .board-table td {
    border-color: #ddd;
}
.other.order .board .form-control {
    font-size: 12px;
    padding: 3px;
    height: 24px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.other.order .checkbox {
    display: inline;
    margin: 0 4px 0 0;
}
.other.order .alert {
    font-size: 11px;
}
.other.order .alert .row {
    margin-left: -3px;
    margin-right: -3px;
}
.other.order .alert .col-xs-4 {
    padding-left: 3px;
    padding-right: 3px;
}